@import 'util/variables';

.root {
  display: flex;
  min-height: 100vh;
  max-width: 1400px;
  width: 100%;
  margin: auto !important;
}

.ccontainer {
  display: flex;
}

.left-outer, .right-outer {
  flex: 1;
}

.left-outer, .left-grid {
  background-color: $dark-background-secondary;
}

.right-outer, .right-grid {
  background-color: $dark-background-primary;
}

.left-grid {
  padding: 96px;
  box-sizing: border-box;
}

.right-grid {
  flex-grow: 1;
  padding: 96px;
  box-sizing: border-box;
  position: relative;
}

.c-logo-container {
  display: flex;
  align-items: center;
}

.c-logo {
  margin-right: 14px;
}

.c-logo-text {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-weight: 700;
  font-size: 16px;
  vertical-align: middle;
}

.left-grid-content {
  max-width: 332px;
}

.left-grid-heading {
  color: $dark-basic-primary;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
}

.left-grid-sub {
  color: $dark-basic-secondary;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.right-grid-date {
  color: $dark-basic-secondary;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.tab-container {
  display: flex;
  padding-bottom: 2px;
  border-bottom: 1px solid #52526B;
}

.tab-btn {
  color: $dark-basic-thriary;
  font-family: $poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
  &:hover {
    background-color: $dark-background-secondary;
  }
}

.tab-btn-active {
  color: $dark-basic-primary;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  cursor: default;
  &:hover {
    background: none;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, #563EEE 0%, #5C7AE5 100%);
  }
}

.form-container {
  box-sizing: border-box;
  padding: 32px;
  border: 1px solid #52526B;
  border-radius: 8px;
}

.form-heading {
  color: $dark-basic-primary;
  font-family: $poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.input-label {
  color: $dark-basic-primary;
  font-family: $poppins;
  font-size: 13px;
  line-height: 18px;
}

.input {
  padding: 8px 16px;
  border-radius: 6px;
  background: transparent !important;
  border: 1px solid #52526B;
  color: $dark-basic-primary;
  &:focus {
    border: 1px solid #5C7AE5;
  }
  &-text {
    @extend .input;
    width: 100%;
    font-family: $roboto;
    font-size: 18px;
    line-height: 28px;
  }
  &-otp {
    @extend .input;
    box-sizing: border-box;
    width: 109px;
    height: 44px;
    text-align: center;
    font-family: $poppins;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
  }
  &-date {
    @extend .input;
    width: 100%;
    border: none;
    border-bottom: 1px solid #52526B;
    border-radius: 0;
    color: $dark-basic-primary;
    font-family: $roboto;
    font-size: 18px;
    line-height: 28px;
    &:focus {
      border-bottom: 1px solid $dark-accent-primary;
    }
  }
  &-text-area {
    @extend .input;
    width: 100%;
    height: 167px;
    resize: none;
    color: $dark-basic-primary;
    font-family: $roboto;
    font-size: 18px;
    line-height: 28px;
    &:placeholder {
      color: #52526B;
    }
  }
}

.btn {
  padding: 12px 32px;
  border-radius: 4px;
  font-family: $poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  &-contained {
    @extend .btn;
    background-color: $dark-background-contrast;
    border: none;
    color:  $dark-invertion-primary;
  }
  &-outlined {
    @extend .btn;
    background: transparent;
    border: 1px solid $dark-basic-thriary;
    color: $dark-basic-primary;
  }
  &-upload {
    @extend .btn;
    color: white;
    background-color: $dark-accent-primary;
    width: 100%;
    border: none;
  }
}

.btn-form-container {
  display: flex;
}

.form-sub {
  color: $dark-basic-secondary;
  font-family: $poppins;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
}

.input-select {
  width: 100%;
  padding: 8px 16px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #52526B;
  color: $dark-basic-primary;
  font-family: $roboto;
  font-size: 18px;
  line-height: 28px;
}

.form-link-container {
  display: flex;
  align-items: center;
}

.form-link {
  color: $dark-accent-primary;
  font-family: $roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.alert-warning {
  padding: 18px;
  background-color: $dark-background-thriary;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.alert-text {
  color: $dark-basic-primary;
  font-family: $poppins;
  font-size: 13px;
  line-height: 18px;
  flex-grow: 1;
}

.alert-btn-close {
  background: none;
  border: none;
  padding: 0;
}

.form-otp {
  display: flex;
  justify-content: space-between;
}

.profile-cover {
  width: 100%;
  height: 293px;
  // position: absolute;
  // left: 0;
  // top: 0;
}

.form-profile-card {
  padding: 32px;
  background-color: black;
  border-radius: 12px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.07);
}

.profile-name {
  color: $dark-basic-primary;
  font-family: $poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
}

.profile-id {
  color: $dark-basic-secondary;
  font-family: $poppins;
  font-size: 14px;
  line-height: 18px;
}

.form-grid {
  display: flex;
}

.form-left, .form-right {
  flex: 1;
}

.profile-img {
  border-radius: 4px;
  object-fit: cover;
}

.career-company {
  color: white;
  font-family: $roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.career-time {
  color: #8E8EA3;
  font-family: $roboto;
  font-size: 16px;
  line-height: 22px;
}

.gallery-card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 32px;
}

.gallery-card {
  // width: 166px;
  height: 260px;
  background-color: #5C7AE5;
  border-radius: 6px;
}