$dark-basic-primary: #F3F3F3;
$dark-basic-secondary: #8E8EA3;
$dark-basic-thriary: #818191;
$dark-background-primary: #16162A;
$dark-background-secondary: #292946;
$dark-background-thriary: #494980;
$dark-background-contrast: #EAEAFF;
$dark-invertion-primary: #16162A;
$dark-accent-primary: #5C7AE5;

$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;
$raleway: 'Raleway', sans-serif;